@font-face {
  font-family: "stddemi-font";
  src: url("./fonts/ITCAvantGardeStdDemi.otf");
}

@font-face {
  font-family: "stdmedium-font";
  src: url("./fonts/ITCAvantGardeStdMd.otf");
}

@font-face {
  font-family: "stdbook-font";
  src: url("./fonts/ITCAvantGardeStdBk.otf");
}
img {
  max-width: 100%;
}
#section_fit1 {
  padding: 0px 40px;
}
#section_fit2 {
  padding: 0px 40px;
}
#section_fit3 {
  padding: 0px 40px;
}
.bac_fit {
  background: #eaf2ef;
  padding: 50px;
}
.bac_fit2 {
  background: #17bebb;
  padding: 50px;
}
.bac_fit3 {
  background: #eaf2ef;
  padding: 50px;
}
#forms {
  height: auto;
  width: 27%;
  margin: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
}
button.btn.btn-primary {
  width: 100%;
  border: 1px solid #17bebb !important;
  background-color: #17bebb !important;
  font-weight: 600;
  font-family: "stdbook-font";
}
.form-check {
  font-size: 12px;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #d5dbdb;
  outline: 0;
  box-shadow: none !important;
}
.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}
.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: none !important;
}
.rec_talent {
  font-family: ITCAvantGardeStd-Bk, ﻿ITCAvantGardeStd-Bk, ﻿AdobeInvisFont,
    ﻿MyriadPro-Regular;
  font-size: 14px;
  color: rgba(43, 43, 43, 255);
  text-align: left;
}
.card-body .card-text {
  font-family: ITCAvantGardeStd-Bk, ﻿ITCAvantGardeStd-Bk, ﻿AdobeInvisFont,
    ﻿MyriadPro-Regular;
  color: rgba(43, 43, 43, 255);
  text-align: center;
  font-size: 12px;
  font-family: "stdmedium-font";
}
#section_fit1 .images {
  height: auto;
  width: 50%;
  margin-left: 170px;
}
#card_1 {
  padding-right: 88px;
}
.content {
  text-align: center;
  width: 70%;
  margin-left: 160px;
}
.content h4 {
  font-size: 26px;

  font-family: "stddemi-font";
}
.content h5 {
  font-family: "stddemi-font";
}
.content p {
  font-size: 12px;
  font-family: "stdmedium-font";
}

.d-flex.flex-row {
  border-bottom: 1px solid #2b2b2b;
  margin-bottom: 10px;
}
.d-flex.flex-row h4 {
  font-size: 1.2rem;
  font-family: "stdbook-font";
}
.demo {
  border-bottom: 3px solid#17bebb;
  margin-bottom: -1px;
  margin-right: 20px;
}

ul.why {
  margin-left: 160px;
}
.why h4 {
  margin-bottom: 30px;
  font-size: 26px;
  font-family: "stddemi-font";
}
.rec_talent {
  font-family: ITCAvantGardeStd-Bk, ﻿ITCAvantGardeStd-Bk, ﻿AdobeInvisFont,
    ﻿MyriadPro-Regular;
  color: rgba(43, 43, 43, 255);
  text-align: left;
  font-size: 12px;
  font-family: "stdmedium-font";
}
#section_fit2 .images {
  height: auto;
  width: 80%;
  margin-left: 50px;
}
#section_fit3 .images {
  height: auto;
  width: 60%;
  margin-top: 50px;
  margin-left: 160px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #eaf2ef !important;
  background-clip: border-box;
  border: none !important;
  border-radius: 0.25rem;
  margin-bottom: 30px;
}
img.card-img-top {
  width: 20%;
  margin: auto;
}
p.card-text {
  margin: 20px 0;
}
.heading {
  text-align: center;
  padding-right: 45% !important;
}
.heading h4 {
  font-size: 26px;
  font-family: "stddemi-font";
}
/* mobile Responsive */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #section_fit1 {
    padding: 0px 10px;
  }
  #section_fit2 {
    padding: 0px 10px;
  }
  #section_fit3 {
    padding: 0px 10px;
  }
  #forms {
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 15px;
    background: #fff;
  }
  .content {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }
  #section_fit1 .images {
    height: auto;
    width: 82%;
    margin-left: 30px;
  }
  ul.why {
    margin-left: 0;
  }
  #section_fit2 .images {
    height: auto;
    width: 88%;
    margin-left: 5px;
  }
  .heading {
    text-align: center;
    padding-right: 0 !important;
  }
  #section_fit3 .images {
    height: auto;
    width: 74%;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
  }
  #card_1 {
    padding-right: 0px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  #section_fit1 {
    padding: 0px 10px;
  }
  #section_fit2 {
    padding: 0px 10px;
  }
  #section_fit3 {
    padding: 0px 10px;
  }
  .content {
    text-align: center;
    width: 70%;
    margin-left: 90px;
  }
  #section_fit1 .images {
    height: auto;
    width: 61%;
    margin-left: 109px;
  }
  .demo {
    border-bottom: 3px solid#17bebb;
    margin-bottom: -1px;
    margin-right: 330px;
  }
  #forms {
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 0;
    background: #fff;
  }
  ul.why {
    margin-left: 0;
  }
  #section_fit2 .images {
    height: auto;
    width: 90%;
    margin-left: 4px;
  }
  .heading {
    text-align: center;
    padding-right: 0 !important;
  }
  #section_fit3 .images {
    height: auto;
    width: 70%;
    margin-top: 50px;
    margin-left: 90px;
    margin-bottom: 50px;
  }
  #card_1 {
    padding-right: 15px;
  }
}
@media only screen and (min-device-width: 767px) and (max-device-width: 1023px) {
  #section_fit1 {
    padding: 0px 10px;
  }
  #section_fit2 {
    padding: 0px 10px;
  }
  #section_fit3 {
    padding: 0px 10px;
  }
  .content {
    text-align: center;
    width: 87%;
    margin-left: 10px;
  }
  #section_fit1 .images {
    height: auto;
    width: 70%;
    margin-left: 40px;
  }
  .demo {
    border-bottom: 3px solid#17bebb;
    margin-bottom: -1px;
    margin-right: 141px;
  }
  #forms {
    height: auto;
    width: 50%;
    margin: 0 1px 0 -15px;
    padding: 0;
    background: #fff;
  }
  ul.why {
    margin-left: 10px;
  }
  #section_fit2 .images {
    height: auto;
    width: 90%;
    margin-left: 10px;
  }
  .heading {
    text-align: center;
    padding-right: 0 !important;
  }
  #section_fit3 .images {
    height: auto;
    width: 70%;
    margin-top: 50px;
    margin-left: 110px;
    margin-bottom: 50px;
  }
  #card_1 {
    padding-right: 15px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1040px) {
  #section_fit1 {
    padding: 0px 25px;
  }
  #section_fit2 {
    padding: 0px 25px;
  }
  #section_fit3 {
    padding: 0px 25px;
  }
  .content {
    text-align: center;
    width: 70%;
    margin-left: 100px;
  }
  #section_fit1 .images {
    height: auto;
    width: 60%;
    margin-left: 123px;
  }
  #forms {
    height: auto;
    width: 40%;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 20px;
    background: #fff;
  }
  .demo {
    border-bottom: 3px solid#17bebb;
    margin-bottom: -1px;
    margin-right: 125px;
  }
  ul.why {
    margin-left: 101px;
  }
  #section_fit2 .images {
    height: auto;
    width: 94%;
    margin-left: 2px;
  }
}
@media only screen and (min-device-width: 1900px) and (max-device-width: 2000px) {
  #section_fit1 {
    padding: 0px 25px;
  }
  #section_fit2 {
    padding: 0px 25px;
  }
  #section_fit3 {
    padding: 0px 25px;
  }
  .content {
    text-align: center;
    width: 70%;
    margin-left: 151px;
  }
  .content h4 {
    font-size: 50px;
    font-family: "stddemi-font";
  }
  .content h5 {
    font-family: "stddemi-font";
    font-size: 30px;
  }

  .content p {
    font-size: 14px;
    font-family: "stdmedium-font";
  }
  #section_fit1 .images {
    height: auto;
    width: 50%;
    margin-left: 250px;
  }
  #forms {
    height: auto;
    /* width: 40%; */
    /* margin: auto; */
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }
  .form-control,
  .form-select {
    display: block;
    margin: 3px 0;
    width: 100%;
    padding: 0.5rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  button.btn.btn-primary {
    width: 100%;
    border: 1px solid #17bebb !important;
    background-color: #17bebb !important;
    color: #000;
    font-family: "stdbook-font";
  }
  .demo {
    border-bottom: 3px solid#17bebb;
    margin-bottom: -1px;
    margin-right: 170px;
  }
  #section_fit3 .images {
    height: auto;
    width: 60%;
    margin-top: 50px;
    margin-left: 250px;
  }
  ul.why {
    margin-left: 250px;
    margin-top: 50px;
  }
  .why h4 {
    margin-bottom: 30px;
    font-family: "stddemi-font";
    font-size: 30px;
  }
  li.rec_talent {
    font-size: 20px;
    font-family: "stdmedium-font";
  }
  #section_fit2 .images {
    height: auto;
    width: 100%;
    margin-left: 11px;
    margin-bottom: -50px;
  }
  .heading h4 {
    font-family: "stddemi-font";
    font-size: 30px;
  }
  p.card-text.card-text1 {
    margin-top: 38px;
  }
  .card-body .card-text {
    font-size: 16px;
    font-family: "stdmedium-font";
  }
  .bac_fit2 {
    background: #17bebb;
    padding: 50px 50px 35px 50px;
  }
}
